md-toolbar {
  background: orange;
  display: flex;
  padding: 30px 50px;
}

md-toolbar .logo h1 {
    margin: 3px 0;
}

md-toolbar .logo .subtitle {
    font-size: 0.8rem;
}

md-toolbar .actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

md-toolbar .actions button{
  width: 110px;
  height: 75px;
  background-color: #F04100;
  color: white;
  float: right;
  margin: 15px;
}

md-toolbar .actions button i { 
  display: block;
}